.form-container {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  width: 100%;
  .form-group {
    display: flex;
    margin-top: 5px;
    label {
      font-size: 26px;
      display: flex;
      justify-content: flex-end;
      width: 35vh;
    }
    input {
      padding: 5px;
      border-radius: 3px;
      border-color: black;
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    margin: 15px;

    button {
      cursor: pointer;
      font-weight: 700;
      padding: 5px 15px 5px 15px;
      border-radius: 5px;
      border: none;
    }
  }
}

.coverCard {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80vh;
  width: auto;
  left: 400px;
  top: 50px;
  //border: 2px solid red;
  border-radius: 10px;
  background-color: rgb(241, 241, 255);
}
