.form-container {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  width: 100%;
  .form-group {
    label {
      font-size: 26px;
    }
    input {
      padding: 5px;
      border-radius: 3px;
      border-color: black;
    }
  }
}
