.coverCard {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80vh;
  width: auto;
  left: 400px;
  top: 50px;
  //border: 2px solid red;
  border-radius: 10px;
  background-color: rgb(241, 241, 255);
}
