@import "./Features/Admin/Dashboard/home.scss";
@import "./Features/Admin/User-management/user.scss";
@import "./Features/Admin/Team-management/team.scss";
@import "./Components/core/aside.scss";
@import "./Components/NavbarView/navbar.scss";
@import "./Components/cards/coverCard.scss";
@import "./Components/FormView/forms.scss";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
